@font-face {
  font-family: Metropolis;
  src: url(../assets/fonts/Metropolis-Regular.otf);
}
@font-face {
  font-family: Metropolis-Bold;
  src: url(../assets/fonts/Metropolis-Bold.otf);
}
.metro {
  font-family: Metropolis;
}

.metro-bold {
  font-family: Metropolis-Bold;
}

.mb-100 {
  margin-bottom: 100px;
}

body {
  background-color: #f8f8f3;
  font-family: Metropolis;
}

nav {
  z-index: 2;
}
nav .content {
  z-index: 2;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  nav {
    left: 0;
    position: fixed;
    width: 150px;
  }
  nav .mb50 {
    margin-bottom: 50px;
  }
  nav .mt-n25 {
    margin-top: -25px;
  }
  nav .content {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  nav .content img {
    padding-top: 35px;
  }
  nav .nav-item .nav-btn {
    width: 45px;
    margin: auto;
    padding-top: 70px;
  }
  nav .nav-item img:hover {
    cursor: pointer;
  }
}
@media (max-width: 991px) {
  nav .content {
    display: flex;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    align-items: center;
    position: fixed;
  }
  nav .content img {
    margin: auto;
  }
  nav .content img:hover {
    cursor: pointer;
  }
  nav .content .seg-logo {
    height: 75px;
  }
}

.alert {
  position: absolute;
  height: 40px;
  z-index: 1;
  top: -15px;
  width: 100%;
  background-color: black;
  text-align: center;
  color: yellow;
  border-radius: 0;
}
@media (max-width: 991px) {
  .alert {
    display: none;
  }
}
@media (min-width: 992px) {
  .alert {
    margin-left: -150px;
    margin-right: auto;
  }
}

@media (min-width: 992px) {
  .push-right {
    margin-left: 150px;
  }
}
@media (max-width: 991px) {
  .push-right {
    margin-top: 70px;
  }
}

.header {
  background: #ef8d1d;
  background: linear-gradient(90deg, #ef8d1d 35%, #f6dd4f 100%);
}
.header .inner {
  height: 180px;
  position: relative;
}
.header .inner div {
  position: absolute;
  bottom: 0;
}
.header .inner div p {
  color: white;
}
@media (min-width: 768px) {
  .header .inner div p {
    font-size: 66px;
    margin-bottom: -10px;
  }
}
@media (max-width: 767px) and (min-width: 437px) {
  .header .inner div p {
    font-size: 50px;
    margin-bottom: -10px;
  }
}
@media (max-width: 436px) {
  .header .inner div p {
    font-size: 45px;
    margin-bottom: -10px;
  }
}

.site-location {
  padding-top: 15px;
  margin-bottom: -15px;
}

.cabaret {
  background-color: white;
  border-radius: 1px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.cabaret .purple-btn {
  width: 75%;
  margin: auto;
}

.sub-title {
  font-size: 44px;
}

.renewing-subscribers {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 1px;
}
.renewing-subscribers .title {
  font-size: 26px;
}
.renewing-subscribers .purple-btn {
  width: 75%;
  margin: auto;
}

.purple-btn {
  color: white;
  background-color: #604497;
  border-radius: 25px;
  border-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 600;
}

.purple-btn:hover {
  background-color: #805bc9;
}

.select-btn {
  padding: 12px;
}

@media (min-width: 992px) {
  .bsep {
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bsep {
    border-right: 1px solid #d3d3d3;
  }
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid lightgray;
}

.separator:not(:empty)::before {
  margin-right: 1em;
}

.separator:not(:empty)::after {
  margin-left: 1em;
}

.see-package {
  height: 35px;
  margin-bottom: 0;
  margin-top: auto;
  padding: 10px;
  background-color: #ecece4;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 14px;
  border-style: none;
  text-align: left;
  padding-left: 30px;
}

.person-bot {
  width: 100%;
}
.person-bot .asl-img {
  display: flex;
}
.person-bot .asl-img img {
  height: 25px;
}
.person-bot .asl-img p {
  margin-right: 20px;
}
.person-bot .asl-img .aud-adv {
  color: #604497;
}
.person-bot .asl-img .part-1 {
  padding-left: 5px;
}
.person-bot .asl-img .part-2 {
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
  padding-left: 10px;
  padding-right: 10px;
}
.person-bot .asl-img .part-3:hover {
  cursor: pointer;
}

.footer {
  background-color: #000000;
}
.footer .f-top {
  color: #ffffff;
}
.footer .f-bot {
  color: #5e5e5e;
}