@font-face {
  font-family: Metropolis;
  src: url(../assets/fonts/Metropolis-Regular.otf);
}

@font-face {
  font-family: Metropolis-Bold;
  src: url(../assets/fonts/Metropolis-Bold.otf);
}

.metro {
  font-family: Metropolis;
}

.metro-bold {
  font-family: Metropolis-Bold;
}

.mb-100 {
  margin-bottom: 100px;
}

// Body
body {
  background-color: #f8f8f3;
  font-family: Metropolis;
}
// End Body

// Nav
nav {
  @media (min-width: 992px) {
    z-index: 2;
    left: 0;
    position: fixed;
    background-color: white;
    width: 150px;
    .content {
      width: 100%;
      margin: auto;
      text-align: center;
      img {
        padding-top: 35px;
      }
    }
    .row-lg {
      img {
        width: 68px;
        margin: auto;
        padding-top: 70px;
      }
      img:hover {
        cursor: pointer;
        width: 72px;
      }
    }
  }
  @media (max-width: 991px) {
    display: flex;
  }
}
// End Nav

// Alert
.alert {
  @media (min-width: 992px) {
    margin-left: -150px;
    margin-right: auto;
  }
  position: absolute;
  height: 40px;
  z-index: 1;
  top: -15px;
  width: 100%;
  background-color: black;
  text-align: center;
  color: yellow;
  border-radius: 0;
}
// End Alert

// Push Right
.push-right {
  @media (min-width: 992px) {
    margin-left: 150px;
  }
}
// End Push Right

// Header
.header {
  background: rgb(239, 141, 29);
  background: linear-gradient(
    90deg,
    rgba(239, 141, 29, 1) 35%,
    rgba(246, 221, 79, 1) 100%
  );
  .inner {
    height: 180px;
    position: relative;
    div {
      position: absolute;
      bottom: 0;
      p {
        font-size: 66px;
        color: white;
        margin-bottom: -10px;
      }
    }
  }
}
// End Header

// Site Location
.site-location {
  padding-top: 15px;
  margin-bottom: -15px;
}
// End Site Location

// Cabaret
.cabaret {
  background-color: white;
  border-radius: 1px;
  margin-top: 40px;
  margin-bottom: 40px;
  .purple-btn {
    width: 75%;
    margin: auto;
  }
}
// End Cabaret

// Sub-Title
.sub-title {
  font-size: 44px;
}
// End Sub-Title

// Renewing-Subscribers
.renewing-subscribers {
  padding: 20px;
  .title {
    font-size: 26px;
  }
  .purple-btn {
    width: 75%;
    margin: auto;
  }
  background-color: #ffffff;
  border-radius: 1px;
}
// End Renew-Subscribers

// Purple-Btn
.purple-btn {
  color: white;
  background-color: #604497;
  border-radius: 25px;
  border-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 600;
}

.purple-btn:hover {
  background-color: #805bc9;
}
// End Purple-Btn

// Select-Btn
.select-btn {
  padding: 12px;
}
// End Select-Btn

// Border Separation
.bsep {
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
}
// End Border Separation

//  Seperator
.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid lightgray;
}

.separator:not(:empty)::before {
  margin-right: 1em;
}

.separator:not(:empty)::after {
  margin-left: 1em;
}
// End Seperator

// See-Package
.see-package {
  height: 35px;
  margin-bottom: 0;
  margin-top: auto;
  padding: 10px;
  background-color: #ecece4;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 14px;
  border-style: none;
  text-align: left;
  padding-left: 30px;
}
// End See-Package

// Footer
.footer {
  background-color: #000000;
  .f-top {
    color: #ffffff;
  }
  .f-bot {
    color: #5e5e5e;
  }
}
// End Footer
