@font-face {
  font-family: Metropolis;
  src: url(../assets/fonts/Metropolis-Regular.otf);
}

@font-face {
  font-family: Metropolis-Bold;
  src: url(../assets/fonts/Metropolis-Bold.otf);
}

.metro {
  font-family: Metropolis;
}

.metro-bold {
  font-family: Metropolis-Bold;
}

.mb-100 {
  margin-bottom: 100px;
}
// HTML
html {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}
// End HTML

// Body
body {
  background-color: #f8f8f3;
  font-family: Metropolis;
}
// End Body

// Nav
nav {
  // Lg View
  z-index: 2;
  .content {
    z-index: 2;
    width: 100%;
    background-color: #ffffff;
  }
  @media (min-width: 992px) {
    width: 150px;
    left: 0;
    position: fixed;
    .mb50 {
      margin-bottom: 50px;
    }
    .mt-n25 {
      margin-top: -25px;
    }
    .content {
      width: 100%;
      margin: auto;
      text-align: center;
      img {
        padding-top: 35px;
      }
    }
    .nav-item {
      .nav-btn {
        width: 45px;
        margin: auto;
        padding-top: 70px;
      }
      img:hover {
        cursor: pointer;
      }
    }
  }
  // Sm/Md View
  @media (max-width: 991px) {
    .content {
      display: flex;
      margin: 0 auto;
      padding: 10px;
      width: 100%;
      align-items: center;
      position: fixed;
      img {
        margin: auto;
      }
      img:hover {
        cursor: pointer;
      }
      .seg-logo {
        height: 75px;
      }
    }
  }
}
// End Nav

// Alert
.alert {
  @media (max-width: 991px) {
    display: none;
  }
  @media (min-width: 992px) {
    margin-left: -85px;
    margin-right: auto;
  }
  position: absolute;
  height: 50px;
  z-index: 1;
  width: 100%;
  background-color: black;
  text-align: center;
  color: yellow;
  border-radius: 0;
  font-size: 14px;
  .alert-x {
    position: absolute;
    right: 25%;
    color: gray;
    font-size: 18px;
    top: 12px;
  }
  .alert-x:hover {
    cursor: pointer;
  }
  .us-none {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
  }
}
// End Alert

// Push Right
.push-right {
  @media (min-width: 992px) {
    margin-left: 150px;
  }
  @media (max-width: 991px) {
    margin-top: 70px;
  }
}
// End Push Right

// Header
.header {
  background: rgb(239, 141, 29);
  background: linear-gradient(
    90deg,
    rgba(239, 141, 29, 1) 35%,
    rgba(246, 221, 79, 1) 100%
  );
  .inner {
    height: 180px;
    position: relative;
    div {
      position: absolute;
      bottom: 0;
      p {
        // Lg/Md View
        @media (min-width: 768px) {
          font-size: 66px;
          margin-bottom: -10px;
        }
        // Sm View
        @media (max-width: 767px) and (min-width: 437px) {
          font-size: 50px;
          margin-bottom: -10px;
        }
        // xSm View
        @media (max-width: 436px) {
          font-size: 45px;
          margin-bottom: -10px;
        }
        color: white;
      }
    }
  }
}
// End Header

// Site Location
.site-location {
  padding-top: 15px;
  margin-bottom: -15px;
}
// End Site Location

// Cabaret
.cabaret {
  background-color: white;
  border-radius: 1px;
  margin-top: 40px;
  margin-bottom: 40px;
  .purple-btn {
    width: 75%;
    margin: auto;
  }
}
// End Cabaret

// Sub-Title
.sub-title {
  font-size: 44px;
}
// End Sub-Title

// Renewing-Subscribers
.renewing-subscribers {
  padding: 20px;
  .title {
    font-size: 26px;
  }
  .purple-btn {
    width: 75%;
    margin: auto;
  }
  background-color: #ffffff;
  border-radius: 1px;
}
// End Renew-Subscribers

// Purple-Btn
.purple-btn {
  color: white;
  background-color: #604497;
  border-radius: 25px;
  border-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 600;
}

.purple-btn:hover {
  background-color: #805bc9;
}
// End Purple-Btn

// Select-Btn
.select-btn {
  padding: 12px;
}
// End Select-Btn

// Border Separation
.bsep {
  @media (min-width: 992px) {
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
  }
  @media (max-width: 991px) and (min-width: 768px) {
    border-right: 1px solid #d3d3d3;
  }
}
// End Border Separation

//  Seperator
.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid lightgray;
}

.separator:not(:empty)::before {
  margin-right: 1em;
}

.separator:not(:empty)::after {
  margin-left: 1em;
}
// End Seperator

// See-Package
.see-package {
  height: 35px;
  margin-bottom: 0;
  margin-top: auto;
  padding: 10px;
  background-color: #ecece4;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 14px;
  border-style: none;
  text-align: left;
  padding-left: 30px;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
}

.see-package:hover {
  cursor: pointer;
}
// End See-Package

// Person-Bot
.person-bot {
  width: 100%;
  // ASL-img
  .asl-img {
    display: flex;
    img {
      height: 25px;
    }
    p {
      margin-right: 20px;
    }
    .aud-adv {
      color: #604497;
    }
    .part-1 {
      padding-left: 5px;
    }
    .part-2 {
      border-left: 1px solid #999999;
      border-right: 1px solid #999999;
      padding-left: 10px;
      padding-right: 10px;
    }
    .part-3:hover {
      cursor: pointer;
    }
  }
  // End ASL-img
}
// End Person-Bot

// Footer
.footer {
  background-color: #000000;
  position: relative;
  .segerlogo {
    width: 250px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .segerbiglogo {
    -webkit-filter: grayscale(100%) brightness(25%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) brightness(25%);
    position: absolute;
    top: 0;
    right: 0;
    width: 435px;
  }
  .f-top {
    color: #ffffff;
  }
  .f-bot {
    color: #5e5e5e;
  }
}
// End Footer
